$top-margin: 12px;
$content-padding: 8px;

.Explore {
	text-align: center;
	padding: $content-padding;
}

.event-card-list {
	text-align: left;
	margin-top: $top-margin;

	max-width: 1300px;
	margin: auto;
}
