$tab-height: 48px;
$selected-tab-background-color: white;
$font-color: rgb(40, 40, 40);
$unselected-opacity: 0.7;

.TabContainer {
	display: flex;
	height: $tab-height;

	.Tab {
		flex-basis: 100%;
		line-height: $tab-height;

		text-decoration: none;
		border-radius: 4px;
		cursor: pointer;

		&.selected {
			background-color: $selected-tab-background-color;
		}

		&:not(.selected) {
			opacity: $unselected-opacity;
		}

		h4 {
			margin: 0;
			color: $font-color;
			font-size: 20px;
		}
	}
}
