$right-bar-width: 256px;

.content-container {
	padding: 20px;
	padding-top: 12px;
	padding-bottom: 8px;

	display: flex;

	.left-bar {
		display: inline-block;
		flex: 1;
	}

	.right-bar {
		display: inline-block;
		flex: 0 0 $right-bar-width;

		.Map {
			margin-bottom: 8px !important;
		}
	}
}
