$width: 100%;
$height: 40px;

$border-radius: 2px; /* higher == corners are more rounded */

$font-size: 18px;
$font-weight: 500;

.SearchBar {
	height: $height;
	margin-bottom: 8px;

	input {
		width: $width;
		height: 100%;
		padding-left: 6px; /* padding-left causes the text inside the textarea to be padded */

		// border-box = margin, padding & border is included in width/height
		box-sizing: border-box;
		outline: none; // dont show outline when selected/focused etc

		border: 0px solid transparent;
		border-radius: $border-radius;

		font-size: $font-size;
		font-weight: $font-weight;
	}
}
