$default-font: "Roboto";

.App {
	min-height: 100vh;
	box-sizing: border-box;

	font-family: $default-font;
	background-color: white;
}

.loading-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0.125;
}
